<!--
  Generated template for the DolphinsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Files</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- Pull To Refresh -->
  <ion-refresher (ionRefresh)="reloadPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading -->
  <div text-center class="page-loader">
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>

  <!-- Dolphins -->
  <ion-grid no-padding>
    <ion-row>
      <ion-col class="animated fadeIn"
               *ngFor="let dolphin of dolphins" col-6 col-lg-3 col-sm-3 [ngClass]="{'dis-none': dolphin.isDeleted}">
        <ion-card (tap)="options(dolphin)" (press)="viewDolphin(dolphin.file)">
          <img src="{{dolphin.thumbnail_128x128}}" *ngIf="dolphin.isImage">
          <div class="is-file" *ngIf="!dolphin.isImage">
            <ion-icon name="document"></ion-icon>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Load More -->
  <div text-center>
    <button ion-button clear (click)="loadMore()" *ngIf="next" [disabled]="paginating">
      <ion-spinner *ngIf="paginating"></ion-spinner>
      <span *ngIf="!paginating">More</span>
    </button>
  </div>

  <!-- Add Button -->
  <ion-fab bottom right>
    <button ion-fab (click)="uploadType()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
