editor {
  div.editor-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #eee;
  }

  #content {
    padding: 16px 16px 120px 16px;
  }

  [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    color: #999;
  }

  [contenteditable] {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}
