page-profile {
  .cover {
    min-height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    box-shadow: inset 0 0 0 9999999px rgba(0,0,0,0.2);
    transform: scale(1.1);
  }

  .p-container {
    text-align: center;
    position: absolute;
    min-height: 300px;
    width: 100%;
    top: 0;

    img {
      position: relative;
      top: 23px;
      border-radius: 50%;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
  }
}
