<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Tags</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- Pull To Refresh -->
  <ion-refresher (ionRefresh)="reloadPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading -->
  <div text-center class="page-loader">
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>

  <!-- Tags -->
  <ion-list class="animated blur s-pad-bottom-hard">
    <span *ngFor="let tag of tags">
      <ion-item *ngIf="!tag.isDeleted">
        <ion-avatar item-start>
          <img src="{{ tag.media.coverImage ? tag.media.coverImage.thumbnail_128x128 : '../../assets/img/avatar.png' }}">
        </ion-avatar>
        <h2>{{ tag.name }} <ion-badge item-end>#{{ tag.slug }}</ion-badge></h2>
        <p>{{ tag.description }}</p>
        <button ion-button clear item-end (click)="options(tag)">
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-item>
    </span>
  </ion-list>

  <!-- Add Button -->
  <ion-fab bottom right>
    <button ion-fab (click)="tagPage()">
      <ion-icon name="pricetag"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
