<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle color="white">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ site.title }}</ion-title>
    <ion-buttons end padding-right>
      <button ion-button icon-only color="white" type="submit" form="siteForm" [disabled]="updating">
        <ion-icon name="checkmark" *ngIf="!updating"></ion-icon>
        <ion-spinner *ngIf="updating" color="light"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content parallax-header>
  <!-- Loading -->
  <div text-center class="page-loader">
    <ion-spinner *ngIf="loading" [paused]="!loading"></ion-spinner>
  </div>

  <!-- Site Settings -->
  <div class="cover header-image" text-center [style.background-image]="coverImage" [hidden]="!site.media.coverImage"></div>
  <span class="main-content">
    <button ion-button class="main-button" icon-only (click)="codekit.options('coverImage', siteId)" *ngIf="!loading && site.media.coverImage">
      <ion-icon name="image"></ion-icon>
    </button>
    <form (ngSubmit)="updateSite()" id="siteForm" *ngIf="!loading">
      <!-- Inputs -->
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" [(ngModel)]="site.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input [(ngModel)]="site.description" name="description"></ion-input>
        EventEmitter
      </ion-item>
          <!-- Checkboxes -->
      <ion-item margin-top no-lines>
        <ion-label>Allow commenting on my site</ion-label>
        <ion-toggle [(ngModel)]="site.commenting" name="commenting"></ion-toggle>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Allow voting on my site</ion-label>
        <ion-toggle [(ngModel)]="site.voting" name="voting"></ion-toggle>
      </ion-item>
      <ion-grid>
        <ion-row margin-vertical>
          <ion-col *ngIf="!site.media.coverImage">
            <button ion-button block type="button" outline
                    (click)="selectImage('coverImage')"> Set cover image
            </button>
          </ion-col>
          <ion-col>
            <button ion-button block type="button" outline
                    (click)="site.media.logo ? options('logo') : selectImage('logo')">
              {{ site.media.logo ? "change" : "set" }} logo
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </span>
</ion-content>
