<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons padding-left>
      <button ion-button icon-only (click)="navCtrl.pop()" [disabled]="updating">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end padding-right>
      <button ion-button color="secondary" icon-left (click)="save()" [disabled]="!entry.title || updating">
        <span *ngIf="!updating">{{ submitText }}</span>
        <ion-spinner color="primary" *ngIf="updating"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item no-lines>
    <ion-label floating>Title</ion-label>
    <ion-input type="text" [(ngModel)]="entry.title" name="title"></ion-input>
  </ion-item>
  <editor [content]="entry.content"></editor>
</ion-content>
