<ion-menu [content]="content" [side]="menuSide">
  <ion-header>
    <ion-toolbar color="primary" *ngIf="authService.isAuth()">
      <ion-title>{{ authService.getCurrentSite().title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Avatar -->
    <ion-list>
      <button ion-item *ngIf="authService.isAuth()">
        <ion-avatar item-start>
          <img src="{{ account.user.getAvatar('tiny') }}">
        </ion-avatar>
        <h2>{{ this.account.user.getFullName() }}</h2>
        <ion-note><small>{{ account.user.email }}</small></ion-note>
      </button>
    </ion-list>
    <!-- Views -->
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon name="{{ page.icon }}" item-start></ion-icon> {{ page.title }}
      </button>
    </ion-list>
    <!-- Sites -->
    <ion-list no-lines *ngIf="authService.isAuth()">
      <ion-list-header>{{ 'SITES' | translate }}</ion-list-header>
      <button ion-item menuClose *ngFor="let site of account.user.sites" (click)="authService.setCurrentSite(site)">
        {{ site.title }}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>{{ 'LOGOUT' | translate }}</ion-list-header>
      <button menuClose ion-item (click)="authService.signOut()">
        <ion-icon name="log-out" item-start></ion-icon> {{ 'LOGOUT' | translate }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
  <ion-nav #content [root]="rootPage"></ion-nav>
