<ion-menu [content]="content" [side]="menuSide" id="lovelyMenu">
  <ion-header>
    <ion-toolbar color="primary" *ngIf="authService.isAuth()">
      <ion-title>{{ authService.getCurrentSite().title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Avatar -->
    <ion-list>
      <button menuClose ion-item *ngIf="authService.isAuth()" (click)="openPage()"
              [ngClass]="{'active': getCurrentView() == 'ProfilePage'}">
        <ion-avatar item-start>
          <img src="{{ user.getAvatar('tiny') }}">
        </ion-avatar>
        <h2>{{ user.getFullName() }}</h2>
        <ion-note><small>{{ user.email }}</small></ion-note>
      </button>
    </ion-list>
    <!-- Views -->
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let page of pages" (click)="openPage(page.component)"
              [ngClass]="{'active': getCurrentView() == page.component.name}">
        <ion-icon name="{{ page.icon }}" small item-start></ion-icon> {{ page.title }}
      </button>
    </ion-list>
    <!-- Sites -->
    <ion-list no-lines *ngIf="authService.isAuth()">
      <ion-list-header>{{ 'SITES' | translate }}</ion-list-header>
      <button ion-item menuClose *ngFor="let site of user.sites" (click)="authService.setCurrentSite(site)">
        {{ site.title }}
        <ion-icon name="checkmark" item-end small color="primary" *ngIf="authService.getCurrentSite().id === site.id"></ion-icon>
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>{{ 'LOGOUT' | translate }}</ion-list-header>
      <button menuClose ion-item (click)="authService.signOut()">
        <ion-icon name="log-out" item-start small></ion-icon> {{ 'LOGOUT' | translate }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
