<ion-header>

  <ion-navbar color="gonevis">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ 'POSTS' | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar color="gonevis">
    <ion-searchbar (ionInput)="search($event)" [animated]="true" [(ngModel)]="searchQuery">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>
  <!-- Pull To Refresh -->
  <ion-refresher (ionRefresh)="reloadPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading -->
  <div text-center class="page-loader">
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>

  <!-- Entries -->
  <div *ngFor="let entry of entries" class="entries animated fadeIn">
    <button ion-item (click)="entryPage(entry.id)">
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <div style="opacity: 0.5">
              <small *ngIf="entry.status === 1">Published &middot; {{ entry.published | date }}</small>
              <small *ngIf="entry.status !== 1">Draft &middot; {{ entry.created | date }}</small>
            </div>
            <b>{{ entry.title }}</b>
            <p [ngClass]="{'excerpt': !entry.lead && entry.excerpt}">
              {{ entry.lead ? entry.lead : entry.excerpt }}
            </p>
          </ion-col>
          <ion-col col-4>
            <img *ngIf="entry.media.coverImage" [src]="entry.media.coverImage.thumbnail_128x128">
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </div>

  <ion-item class="no-results animated fadeIn" *ngIf="!searchResult || !entries.length && !loading" text-center>
    <p>Couldn't find anything</p>
  </ion-item>

  <!-- Load More -->
  <div text-center>
    <button ion-button clear (click)="loadMore()" *ngIf="next" [disabled]="paginating">
      <ion-spinner *ngIf="paginating"></ion-spinner><span *ngIf="!paginating">More</span>
    </button>
  </div>

  <!-- Add Button -->
  <ion-fab bottom right>
    <button ion-fab (click)="entryPage()">
      <ion-icon name="paper"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
