<ion-header>

  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ 'POSTS_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- Pull To Refresh -->
  <ion-refresher (ionRefresh)="reloadPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading -->
  <div text-center class="page-loader">
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>

  <!-- Entries -->
  <ion-card *ngFor="let entry of entries" class="animated blur">
    <img src="{{ entry.media.cover_image.file }}" *ngIf="entry.media.cover_image">
    <ion-card-content>
      <ion-card-title>{{ entry.title }}</ion-card-title>
      <p>{{ entry.lead ? entry.lead : entry.excerpt }}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <button ion-button clear small icon-left *ngIf="entry.comment_count" (click)="presentCommentModal(entry)">
            <ion-icon name="chatbubbles"></ion-icon>
            <div>{{ entry.comment_count }}</div>
          </button>
        </ion-col>
        <ion-col col-8 text-right>
          <button ion-button icon-only clear small (click)="editEntry(entry)">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
