page-dolphin-selection {
  ion-card {
    position: relative;
    margin: 0 !important;
    border: 1px solid #fff;
  }

  .card-md, .card-ios {
    width: 100%;
  }

  .card-img-container {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
  }
}
