<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left padding-left>
      <button ion-button icon-only color="white" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <ion-title>{{ dolphin.metaData.name }}</ion-title>
    <ion-buttons end padding-right>
      <button ion-button icon-only color="white" type="submit" form="tagForm" [disabled]="updating">
        <ion-icon name="checkmark" *ngIf="!updating"></ion-icon>
        <ion-spinner *ngIf="updating" color="light"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines no-margin>
    <ion-item *ngIf="dolphin.isImage">
      <img src="{{ dolphin.file }}">
    </ion-item>
  </ion-list>
  <form (ngSubmit)="update()" id="tagForm">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="dolphin.metaData.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input [(ngModel)]="dolphin.metaData.description" name="description"></ion-input>
    </ion-item>
  </form>
</ion-content>
